/*##############################
############ RESET #############
##############################*/
@import url(./reset.css);



/*##############################
########## TYPOGRAPHY ##########
##############################*/
@import url(./typograpghy/headings.css);
@import url(./typograpghy/links.css);
@import url(./typograpghy/paragraphs.css);



/*##############################
########## COMPONENTS ##########
##############################*/
@import url(./components/grid.css);
@import url(./components/bg.css);
@import url(./components/widgets.css);
@import url(./components/burger.css);



/*##############################
########## SECTIONS ##########
##############################*/
@import url(./sections/header.css);
@import url(./sections/intro.css);
@import url(./sections/occasions.css);
@import url(./sections/cities.css);
@import url(./sections/steps.css);
@import url(./sections/testimonials.css);
@import url(./sections/partners.css);
@import url(./sections/footer.css);


:root{
    --primary-clr: #0e8edf;
    --steps-clr: #009cff;
    --expand-clr: #f3f9fd;
    --section-clr: #e5f5ff;
    --text-accent-clr: #ffed58;
    --star-clr: #ffd131;
    --pop-up-clr: #0960ed;
}
