.steps{
    text-align: center;
    padding: 6.5rem 0rem 7rem;
}

.steps-title{
    margin-bottom: 4.5rem;
}

.steps__inner{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.steps-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 8.65rem 13.4rem;
    background: var(--steps-clr);
    border-radius: 5px;
}

@media(min-width: 768px){
    .steps-card{
        padding: 8.65rem 15.4rem;
        flex: 0 0 calc(33.333% - 1rem);
    }
}
.card-bg-number{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18.7rem;
    opacity: 0.102;
    color: #ffffff;
    font-weight: 800;
    transform: translate(-50%, -50%);
}

.card-icon,
.card-icon-reverse{
    position: absolute;
    right: -2rem;
    bottom: 0;
}

.card-icon-reverse{
    bottom: unset;
    right: 0;
    top: 0;
}